<ion-split-pane contentId="main-content" when="md">
    <ion-menu contentId="main-content" type="overlay">
        <app-inbox-left-pane
                (folderSelectedEmitterRef)="inboxFacade.selectFolder( $event)"
                [folders$]="inboxFacade.folders$() || []"
                [foldersError$]="inboxFacade.foldersError$()?.message || null"
                [foldersLoading$]="inboxFacade.foldersLoading$()"
        ></app-inbox-left-pane>
    </ion-menu>

    <app-inbox-right-pane
            [emails$]="inboxFacade.emails$() || []" [emailsError$]="inboxFacade.emailsError$()?.message || null"
            [emailsLoading$]="inboxFacade.emailsLoading$()"
            [selectedFolder$]="inboxFacade.selectedFolder$()"
            class="ion-page"
            id="main-content"
    ></app-inbox-right-pane>
</ion-split-pane>

