<ion-list>
    @for (folder of folders(); track folder.id) {
        <ion-item [class.active-folder]="folder.name === 'inbox'" [id]="folder.id"
                  (click)="folderSelectedEmitterRef.emit(folder)">
            <ion-icon
                    [name]="getFolderIcon(folder)"
                    slot="start"
                    [class.unread]="folder.unreadCount > 0">
            </ion-icon>
            <ion-label>
                {{ folder.displayName }}
                @if (folder.unreadCount > 0) {
                    <span class="unread-count">({{ folder.unreadCount }})</span>
                }
            </ion-label>
        </ion-item>
    }
</ion-list>
